<section class="download" id="download">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center wp4">
        <h1>Want to give it a try?</h1>
        <p><a href="https://www.wallabag.it/" class="download-btn">REGISTER <i class="fa fa-user-plus"></i></a> <a href="https://doc.wallabag.org/en/admin/installation/installation.html#installation" class="download-btn">DOWNLOAD <i class="fa fa-download"></i></a><br></p>
        <p>Last release: wallabag {{ github.appVersion }}<br>
          (md5 checksum: d02126f55874b8c9e47fe049c5a24236)<br>
            You can download our <a href="{{ site.metadata.repo }}/releases" target="_blank">previous releases here</a>.</p>
      </div>
    </div>
  </div>
</section>
