version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    time: "02:00"
    timezone: Europe/Paris
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "weekly"
